#about {
    height: 100vh;
    justify-content: center;
    align-items: center;
    scroll-snap-type: y mandatory;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    scroll-snap-align: start;
}

#about h2 {
    font-size: 4.375rem;
    color: var(--color-purple);
}

#about img:nth-child(2) {
    height: 600px;
}

#about-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#about-title p {
    font-size: 1.875rem;
}

#about-title a:hover {
    text-decoration: underline;
}

#about-text {
    width: 500px;
}

#about-text p {
    font-size: 1.563rem;
    text-align: justify;
    padding-top: 10px;
    justify-content: space-between;
}

#about-title p{
    margin-top: -10px;
}

#about-title a::after{
    content: '';
    display: inline-block;
    background-image: url(/assets/link.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    vertical-align: middle;
}

#location-experience {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#location-experience p:nth-child(1)::before{
    content: '';
    display: inline-block;
    background-image: url(/assets/gps.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 25px;
    height: 25px;
}

#location-experience p:nth-child(2)::before{
    content: '';
    display: inline-block;
    background-image: url(/assets/code2.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-right: 5px;
}

footer {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 800px;
    gap: 20px;
}

footer h4 {
    text-align: center;
    font-size: 1.25rem;
    color: var(--color-white);
}

footer ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    gap: 70px;
}

footer img {
    width: 25px;
    transition: 0.3s;
}

footer a:hover{
    filter: invert(46%) sepia(85%) saturate(3722%) hue-rotate(235deg) brightness(98%) contrast(93%);
}

@media (max-width: 1150px) {
    #about-title h2 {
        font-size: 3rem;
    }

    #about-title p {
        font-size: 1.2rem;
    }

    #about-title a::after{
        width: 17px;
    }

    #about-text p{
        font-size: 1.2rem;
    }

    #about img:nth-child(2) {
        height: 500px;
    }

    #location-experience p{
        font-size: 1.2rem;
    }

    #location-experience p:nth-child(1)::before, #location-experience p:nth-child(2)::before{
        width: 20px;
        height: 20px;
    }
}

@media (max-width: 830px){
    #about-title h2 {
        font-size: 2.5rem;
    }

    #about-title p {
        font-size: 0.8rem;
    }

    #about-title a::after{
        width: 16px;
    }

    #about-text p{
        font-size: 1.2rem;
    }

    #about img:nth-child(2) {
        height: 400px;
    }

    #location-experience p{
        font-size: 1.2rem;
    }
}

@media (max-width: 768px){

    #about{
        height: 50vh;
        scroll-snap-align: none;
    }

    #about-title h2 {
        font-size: 1.8rem;
    }

    #about-title p {
        font-size: 0.5rem;
    }

    #about-title a::after{
        width: 15px;
    }

    #about-text p{
        font-size: 1rem;
    }

    #about img:nth-child(2) {
        height: 350px;
    }

    #location-experience p{
        font-size: 1rem;
    }

    #location-experience p:nth-child(1)::before, #location-experience p:nth-child(2)::before{
        width: 16px;
        height: 16px;
    }

    footer{
        margin-top: 600px;
        gap: 10px;
        height: 90px;
    }

    footer h4{
        font-size: 1rem;
    }

    footer img {
        width: 20px;
    }
}

@media (max-width: 600px){
    #about-title h2 {
        font-size: 1.7rem;
    }

    #about-title p {
        font-size: 0.5rem;
    }

    #about-title a::after{
        margin-top: 5px;
        margin-left: 5px;
        width: 12px;
    }

    #about-text p{
        font-size: 0.7rem;
    }

    #about img:nth-child(2) {
        height: 300px;
    }

    #location-experience p{
        font-size: 0.7rem;
    }

    #location-experience p:nth-child(1)::before, #location-experience p:nth-child(2)::before{
        height: 12px;
    }
}

@media (max-width: 521px){
    #about-title h2 {
        font-size: 1.5rem;
    }

    #about-title p {
        font-size: 0.4rem;
    }

    #about-title a::after{
        width: 10px;
        margin-top: 8px;
    }

    #about-text p{
        font-size: 0.6rem;
    }

    #about img:nth-child(2) {
        height: 250px;
    }

    #location-experience p{
        font-size: 0.6rem;
    }

    #location-experience p:nth-child(1)::before, #location-experience p:nth-child(2)::before{
        height: 10px;
    }
}

@media (max-width: 480px){
    #about-title h2 {
        font-size: 1.2rem;
    }

    #about img:nth-child(2) {
        height: 220px;
    }

    #location-experience p{
        font-size: 0.5rem;
    }

    footer{
        margin-top: 500px;
        gap: 10px;
        height: 90px;
    }

    footer h4{
        font-size: 0.8rem;
    }

    footer img {
        width: 15px;
    }
}

@media (max-width: 390px){

    #about img:nth-child(2) {
        height: 200px;
    }
}