@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900;6..12,1000&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url(/css/navigation.css);
@import url(/css/hero.css);
@import url(/css/content.css);
@import url(/css/projects.css);
@import url(/css/about.css);

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: Nunito Sans;
}

:root{
  --color-white: #FFFFFF;
  --color-purple: #8B5FF2;
  --color-content-bg: #1f173277;
  background: linear-gradient(0deg, rgba(13,10,20,1) 0%, rgba(0,0,0,1) 30%, rgba(0,0,0,1) 70%, rgba(13,10,20,1) 100%);
}

html{
  overflow-x: hidden;
}

html::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: #010203;
}

html::-webkit-scrollbar {
  width: 15px;
}

html::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: white;
}

body{
  padding: 0px 50px 0px 50px;
}

header {
  display: flex;
  justify-content: center;
}

ul, li, a{
  text-decoration: none;
  color: var(--color-white);
}

h1, h2, h3, h4, h5{
  filter: drop-shadow(4px 4px 4px #000000);
}

p{
  font-size: 1.875rem;
  color: var(--color-white);
  filter: drop-shadow(4px 4px 4px #000000);
}

#text-highlight{
  font-weight: bold;
  color: var(--color-purple);
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100%{
    transform: translateX(-100%);
  }
}

@media (max-width: 768px){
  body{
    overflow-x: hidden;
  }
}

@media (max-width: 480px){
  body{
    padding: 0 30px
  }
}