#projects {
    display: flex;
    flex-direction: column;
    padding: 50px 140px 50px;
    align-items: center;
    justify-content: space-around;
}

.project-title {
    display: flex;
    text-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 80px;
    scroll-snap-align: start;
}

.project-title a:hover {
    text-decoration: underline;
}

.project-title p {
    font-size: 20px;
    display: flex;
    align-items: center;
}

.project-content {
    display: flex;
    width: 978px;
    gap: 50px;
    overflow-y: hidden;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.project-content::-webkit-scrollbar-track {
    border-radius: 50px;
    background-color: #3C3C3C;
}

.project-content::-webkit-scrollbar {
    height: 5px;
}

.project-content::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: white;
}

.project-content video {
    scroll-snap-align: start;
    height: 550px;
    border-radius: 25px;
    cursor: pointer;
}

.project-text h4 {
    color: var(--color-white);
    font-size: 1.875rem;
    margin-top: 10px;
}

.project-text p {
    text-align: justify;
    padding-bottom: 20px;
}

@media (max-width: 1315px){

    .project-content {
        width: 888px;
    }

    .project video{
        height: 500px;
    }
}

@media (max-width: 1150px){

    #projects{
        margin-top: -50px;
    }

    .project-content {
        width: 800px;
    }

    .project video{
        height: 450px;
    }
}

@media (max-width: 979px){

    .project-content {
        width: 600px;
    }

    .project-text h4{
        font-size: 1.2rem;
    }

    .project-text p{
        font-size: 1rem;
    }

    .project video{
        height: 338px;
    }
}

@media (max-width: 768px){

    #projects{
        padding-bottom: 30px;
    }

    .project-content {
        width: 470px;
        scroll-snap-align: none;
    }

    .project-text h4{
        font-size: 1rem;
    }

    .project-text p{
        font-size: 0.8rem;
    }

    .project video{
        height: 265px;
    }

    .project-title{
        padding-top: 20px;
    }
}

@media (max-width: 650px){

    #projects .project-title h3{
        font-size: 1.25rem;
    }

    .project-content {
        width: 350px;
    }

    .project video{
        height: 197px;
    }
}

@media (max-width: 579px){
    .project-content {
        width: 300px;
    }

    .project-text h4{
        font-size: 0.8rem;
    }

    .project-text p{
        font-size: 0.3rem;
    }

    .project video{
        height: 169px;
    }
}

@media (max-width: 480px){
    .project-content {
        width: 260px;
    }

    .project video{
        height: 147px;
    }
}